<nav class="navbar navbar-expand-lg  fixed-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="/assets/logo.png" width="80pxpx" alt="" style="background-color: #e72929;"/></a>
    <!-- <a class="navbar-brand" href="#"> Live Dinner Restaurent!</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!--here set ms-auto insted of me-auto for all content moved to right side-->
        <li class="nav-item">
          <app-search></app-search>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/AdminLogin" style="color: azure; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Admin Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/AdminSignup" style="color: azure; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Admin Signup</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contacts/admin"  style="color: azure; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Administaton Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart-page" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Cart</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


<!--========= Start Header=========-->
<!-- <header class="top-navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"> <img src="/assets/logo.png" alt="" /></a>



      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
        aris-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars-rs-food">
         Navigation Menu bar 
        <ul class="navbar-nav  ms-auto">
          <li class="nav-item">
            <app-search></app-search>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
          </li>

         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart-page">Cart</a>
          </li>
        

        </ul>
      </div>
    </div>
  </nav>
</header>End Header -->