<!---------====================== Contact Section ================----------->
<!-- <div class="contact-imfo-box mt-5">
	<div class="container ">
		<div class="row">
			<div class="col-md-4 arrow-right">
				<i class="fa fa-volume-control-phone"></i>
				<div class="overflow-hidden">
					<h4>Phone</h4>
					<p class="lead"> +91 858882759</p>
				</div>
			</div>
			<div class="col-md-4 arrow-right">
				<i class="fa fa-envelope"></i>
				<div class="overflow-hidden">
					<h4>Email</h4>
					<p class="lead">rupams441@gmail.com</p>
				</div>
			</div>
			<div class="col-md-4">
				<i class="fa fa-map-marker"></i>
				<div class="overflow-hidden">
					<h4>Location</h4>
					<p class="lead">800, DumDum Street Kolkata</p>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!--======= End Contact Section ========--->

<!--=========== Footer Section ==========-->
<footer class="footer-area bg-f">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3>About Us</h3>
				<p>The first outlet was started in 1929 in Kolkata, selling the famous Awadhi cuisine of Lucknow. The family grew and the second generation of the family choose to expand the family business looking at the growing demand for Awadhi/Mughlai food in the city.</p>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3>Subscribe</h3>
				<div class="subscribe_form">
					<form class="subscribe_form">
						<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
						<button type="submit" class="submit">SUBSCRIBE</button>
						<div class="clearfix"></div>
					</form>
				</div>
				<ul class="list-inline f-social">
					<li class="list-inline-item"><a href="https://www.facebook.com/rupam.saha.566?mibextid=ZbWKwL"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li class="list-inline-item"><a href="https://www.linkedin.com/in/rupam-saha-759ba01ab"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li class="list-inline-item"><a href="mailto:rupams441@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3>Contact information</h3>
				<p class="lead">800, DumDum Street Kolkata</p>
				<p class="lead"><a href="#">+91 8910589397</a></p>
				<p><a href="#"> rupams441@gmail.com</a></p>
			</div>
			<div class="col-lg-3 col-md-6">
				<h3>Opening hours</h3>
				<p><span class="text-color">Monday: </span>Closed</p>
				<p><span class="text-color">Tue-Wed :</span> 9:Am - 10PM</p>
				<p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
				<p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p>
			</div>
		</div>
	</div>	

	<!--copyright-->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="company-name">All Rights Reserved. &copy; 2023 <a href="#"><span> Live Dinner Restaurent</span></a>   Design By : <a href="#"><span> Rupam Saha</span></a></p>
				</div>
			</div>
		</div>
	</div>
</footer>