
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: white;
}
ul li a{
    height: 20rem;
    width: 20rem;
    display: flex;
    margin: 0.5rem;
     flex-direction: column;
     border: 2px solid rgb(70, 11, 207);
     border-radius: 1rem;
     overflow: hidden;
    color: #e72929; }
li a:hover{
    opacity: 0.7;
    cursor: pointer;
}
